<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <h1>Add Email</h1>
        <%= simple_form_for(@user, url: finish_signup_path(@user)) do |f| %>
            <%= f.input :email, required: true, autofocus: true, class: "form-control", placeholder: "Enter your email" %>
            <div class="form-group">
                <%= f.submit "Add email", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>
